body {
    font-family: 'Dancing Script', cursive;
    font-family: 'EB Garamond', serif;
    background-color: #6e5d6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.header {
    display: flex;
    padding: 16px;
    background-color: #1f1a1f;
    color: ;
}

.header .left {

}