body {
    font-family: 'EB Garamond', serif;
    background-color: #6e5d6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin: 0;
    height: 100vh;
}

.header, .introduction {
    display: flex;
    background-color: #1f1a1f;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 16px 60px;
}

.header .left img {
    border-radius: 50%;
    justify-content: flex-start;
    width: 100px;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(255, 205, 253);
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.main img {
    display: flex;
    border-radius: 10%;
    min-width: 300px;
    min-height: auto;
    width: 100%;
    height: auto;
    flex: 50%;
    object-fit: contain;
}

.text {
    flex: 50%;
    width: 400px;
    flex-shrink: 0;
    text-align: center;
}

.introduction {
    gap: 72px;
    padding-bottom: 48px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    font-weight: 800;
    color: rgb(255, 205, 253);
}

button {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    background-color: rgb(255, 205, 253);
    color: #1f1a1f;
    box-shadow: #0a080a;
    border: none;
    text-align: center;
    font-weight: 500;
    padding: 8px;
    margin-top: 16px;
    border-radius: 8px;
}

.categories {
    display: flex;
    padding: 8px 60px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex: 25%;
    gap: 32px;
    padding-bottom: 16px;
}

.choose img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.choose {
    min-width: 150px;
    min-height: 150px;
}

.link {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 48px 120px;
    background-color: #ebc7eb;
    margin-top: 48px;
    color: #1f1a1f;
    font-size: 26px;
}

.quote .name {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
}

.contact {
    display: flex;
    margin: 48px 80px;
    background-color: #1f1a1f ;
    padding: 16px 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.contact .left h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact .left p {
    margin-top: 4px;
    padding-top: 4px;
}