body {
    font-family: 'Dancing Script', cursive;
    font-family: 'EB Garamond', serif;
    background-color: #6e5d6e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f1a1f;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.header .left img {
    border-radius: 50%;
    justify-content: flex-start;
    padding: 16px;
    width: 100px;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style: none;
    padding-right: 8px;
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(255, 205, 253);
}
